
<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('./assets/img/sections/johannes-mandle-unsplash.jpg')">
    <div class="content-center">
      <div class="container">
        <div class="eic-title-brand">
          <div class="eic-presentation-logo"><img alt="" src="./assets/img/eic-logo.png"></div>
          <h1 class="eic-presentation-title">EARTH-I-CURATE</h1>
        </div>
        <h2 class="eic-presentation-subtitle text-center">Founded to improve sustainable strategies and circularity with a measurable impact on our communities! </h2>
      </div>
    </div>

  </div>
</div>

<div class="section section-components section-eic-blue">
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <div class="image-container">
        <img class="eic-kids" src="./assets/img/presentation-page/save-the-planet-kids.jpg" alt="kids" />
      </div>
    </div>
    <div class="col-md-10 col-lg-4 ml-auto mr-auto">
      <div class="container basic-container">
        <h3 class="title">Citizens of the world</h3>
        <h6 class="category">We are just a few clicks away from
          curating our future school uniforms.</h6>
        <h5 class="description">
          E-I-C introduces top quality, sustainable 100% g.o.t. certified organic cotton, comfortable & functional school uniforms! <br/>
          <br/>
          We invite you and each family in your school to participate in this unique opportunity to improve & transition to a circular, green, solution for our school uniforms.
          <br/>
          <br/>
          Designed and made with input & feedback from our students, schools & parents.
          </h5>
        <div>
          <app-eic-request-info></app-eic-request-info>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-cards section-eic-purple">
  <div class="codrops-header">
    <div class="row">
      <div class="col-md-5 col-lg-4">
        <div class="section-description">
          <h3 class="title">Our Mission</h3>
          <h5 class="description">
            Our mission is to close the loop reducing waste & taking action towards sustainable solutions, & contributing to our community, fair trade, equality & a better, greener planet.
          </h5>
          <div>
            <app-eic-request-info></app-eic-request-info>
          </div>
        </div>
      </div>
        <div class="col-md-7 col-lg-8">
            <div class="image-container">
                <img class="eic-mission" src="./assets/img/presentation-page/earth-is-all-we-have-unsplash.jpg" alt="earth">
            </div>
        </div>
    </div>
  </div>
</div>
<div id="fadeInAnim">
  <div class="section section-content section-eic-green">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="image-container">
            <img class="img" src="./assets/img/eic-logo.png" alt="Earth I Curate"/>
            <img class="area-img add-animation" src="./assets/img/presentation-page/fashion-revolution-unsplash.jpg" alt="Fashion revolution" />
          </div>
        </div>

        <div class="col-md-4 ">
          <div class="section-description">
            <h3 class="title">Who we are</h3>
            <h5 class="description">
              E-I-C has been founded to focus on improving sustainable strategies & circularity with direct measurable impact to our community.<br/>
              <br/>
              Using the latest digital sizing software making life as easy as possible for parents ordering new or pre-loved school uniforms.<br/>
              <br/>
              Join the growing trend of like minded, caring people & parents who support & educate & empower our children with awareness & adaptation to this planet.
            </h5>
          </div>
          <div>
            <app-eic-request-info></app-eic-request-info>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer footer-black">
<div class="container">
  <div class="row">
    <nav class="footer-nav">
      <ul>
        <li><a href="https://www.kss-inc.com">KnowledgeSource</a></li>
      </ul>
    </nav>
    <div class="credits ml-auto">
      <span class="copyright">
        © {{date | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by KnowledgeSource
      </span>
    </div>
  </div>
</div>
</footer>
